  <style>
  .search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
}


</style>

<script>

  // import displaynotes from './display-data.vue'

  export default {
    components: {},

    props: [],

    data() {
        return {
            searchQuery: '',
            addAssistantForm: false,
            addAgentForm: false,
            addNewAgentForm: false
        };
    },

    mounted() {
        console.log('Add landlord component mounted.');
    },

    methods: {
      addAssistant() {
        this.addAssistantForm = true;
    },

    closeForm() {
        this.addAssistantForm= false;
        $('#add-landlord').modal('hide');
    },

     addAgent() {
        this.addAgentForm = true;
    },

    closeAgentForm() {
        this.addAgentForm= false;
        $('#add-landlord').modal('hide');
    },

    addNewAgent() {
        this.addNewAgentForm = true;
    }
}

};





</script>
