<template>

    <button v-if="addpropertypanel" class="btn btn-alt btn-primary btn-sm" v-on="addProperty()">Add Property</button>

</template>

<script>
export default {
    props: ['addpropertypanel'],

    data() {
        return {
            properties: [],
            addPropertyPanel: false,
        };
    },

    mounted() {
        console.log('Property component mounted.');
    },


    methods: {
        addProperty()
        {
            this.addPropertyPanel = true;
        }
    },

}
</script>
