  <style>
  .search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
}


</style>

<script>

  // import displaynotes from './display-data.vue'

  export default {
    components: {},

    props: [],

    data() {
        return {
            numberOfInstallments: 1,
        };
    },

    mounted() {
        console.log('Add tenancy component mounted.');
    },

    methods: {
        installmentDate(no) {
            return 'installment_' + no + '_date'
        },

        installmentPayment(no) {
            return 'installment_' + no + '_payment'
        }
    }
};

</script>
