  <style>
  .search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
  }


  </style>

  <script>

  import displaysearches from './display-data.vue'

  export default {
    components: {displaysearches: displaysearches},

    props: ['contacts'],

    data() {
      return {
        searchQuery: '',
      };
    },

    mounted() {
      console.log('Contacts component mounted.');
    },

    methods: {
      //
    },

  };

  </script>
