  <style>
  .search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
}


</style>

<script>

import displaynotes from './display-data.vue'
import moment from 'moment';

export default {
    props: [],

    components: {displaynotes: displaynotes},


    data() {
        return {
            searchQuery: '',
            search: [],

            searches: ({
                name: '',
            }),

            selectedSearch: ({
                id: '',
                name: '',
                address: '',
                phone: '',
                email: '',
                notes: []
            }),
            
        };
    },

    mounted() {
        console.log('Dashboard component mounted.');
        this.getSearches();
    },

    methods: {
        getSearches() {
            axios.get('/api/searches')
            .then(response => {
                this.searches = response.data
            });
        },

        openSearchesModal(search) {
            this.selectedSearch = search
            $('#viewSearch').modal()
        }
    },

    filters: {
        capitalize: function (str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
        },

        moment: function (date) {
            return moment(date).format('MMMM Do YYYY');
        }
    },


};

</script>
