<template>
  <div class="modal" id="deleteFee" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Remove fee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form class="form-horizontal" method="POST" :action="'/fees/' + feeid">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_token" :value="csrf_token">

          <div class="modal-body">
            <div class="container-fluid">

              <p>Do you wish to remove this fee?</p>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes, remove it.</button>
                <button type="button" class="btn btn-secondary" v-on:click.prevent="closeModal()">Close</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  
  export default {
    props: ['fee', 'feeid'],

    components: {},

    data() {
      return {
          //
        }
      },
      
      created() {
        this.csrf_token = document.querySelector('#token').getAttribute('value');
        // $('#deleteFee').modal('show')
      },
      
      mounted() {
        $('#deleteFee').modal('show')
      },
      
      methods: {
        
        closeModal() {
          console.log('close')
          this.$parent.deleteFeeModal = false
          $('#deleteFee').modal('hide')
        }
      },
    }
    
    
  </script>
  
  
  
  


