<style>
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td { padding: -0.25em 1.25em; }


.btn :active {
   outline:none !important;
}

.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.table {
  table-layout:fixed;
}

.table td {
   max-width: 0;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

</style>

<script>

import moment from 'moment';

export default {

  components: {},

  props: {
    hotels: Array,
    data: Array,
    columns: Array,
    filterKey: String,
},

created() {
    this.csrf_token =  document.querySelector('#token').getAttribute('value');
},

mounted() {
    console.log('display-data component ready..')
},

data: function () {
    var sortOrders = {}
    this.columns.forEach(function (key) {
      sortOrders[key] = 1
  })
    return {
        sortKey: '',
        sortOrders: sortOrders,
        booking: [],
        openBooking: false,
        editBookingModal: false,
        deleteBookingModal: false,
        checkoutBookingModal: false
    }
},

computed: {
    filteredData: function () {
      var sortKey = this.sortKey
      var filterKey = this.filterKey && this.filterKey.toLowerCase()
      var order = this.sortOrders[sortKey] || 1
      var data = this.data
      if (filterKey) {
        data = data.filter(function (row) {
          return Object.keys(row).some(function (key) {
            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
        })
      })
    }
    if (sortKey) {
        data = data.slice().sort(function (a, b) {
          a = a[sortKey]
          b = b[sortKey]
          return (a === b ? 0 : a > b ? 1 : -1) * order
      })
    }

    return data
},

},

filters: {
    capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
    },

    moment: function (date) {
        return moment(date).format('MMMM Do YYYY');
    },

    dateify: function (date) {
      return moment(date).format('YYYY-MM-DD');
    }
},

methods: {
    sortBy: function (key) {
        this.sortKey = key
        this.sortOrders[key] = this.sortOrders[key] * -1
    },

    openNoteModal(note) {
        this.selectedNote = note
        $('#addNote').modal()
    },

    openContactModal(contact) {
        this.selectedContact = contact
        $('#viewContact').modal()
    },

    openSearchesModal(search) {
        this.selectedSearch = search
        $('#viewSearch').modal()
    },

    getBooking(bookingId) {
        axios.get('/api/hotel-bookings/' + bookingId)
        .then(response => {
            this.openBooking = true
            this.booking = response.data
            $('#view-booking').modal()
            console.log(response.data)
        });
    },

    reloadSearches() {
        this.$emit('reloadsearches', {
                //
            });
    },

    isHotelPaid(booking) {
        if (booking.hotel_paid) {
            return 'black'
        }

        return 'red';
    },

    hotelPaymentReceived(booking) {
        axios.get('/api/hotel-bookings/markHotelAsPaid/' + booking.id)
        .then(response => {
            console.log('okay')
            booking.hotel_paid = 'yes'
        });
    },

    deleteBooking(booking) {
        this.deleteBookingModal = true;
        this.booking = booking
        $('#delete-booking').modal('show')
    },

    deleteBookingConfirmed(booking) {
       axios.delete('/hotel-bookings/' + booking.id)
       .then(response => {
        $('#delete-booking').modal('hide')
        this.$emit('reloadbookings');
    });
   },

     checkoutBooking(booking) {
        this.checkoutBookingModal = true;
        this.booking = booking
        $('#booking-checkout').modal('show')
    },

    editBooking(booking) {
        this.editBookingModal = true;
        this.booking = booking
        $('#edit-hotel-booking').modal('show')
    },

    bookingSearchName(booking) {
        return booking.search
    }
}


};
</script> 