<style>
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td { padding: -0.25em 1.25em; }


.btn :active {
 outline:none !important;
}

.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.table {
  table-layout:fixed;
}

.table td {
 max-width: 0;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/*tr:hover .btn {
    opacity: 1;
    }*/
    /*background-color: #ffff99;*/
    /*opacity: 0;*/

/*.btn {
    opacity: 0
    }*/



    </style>

    <script>

    import moment from 'moment';

    export default {

      components: {},

      props: {
        data: Array,
        columns: Array,
        filterKey: String,
    },

    created() {
        this.csrf_token =  document.querySelector('#token').getAttribute('value');
    },

    mounted() {
        console.log('display-data component ready..')
    },

    data: function () {
        var sortOrders = {}
        this.columns.forEach(function (key) {
          sortOrders[key] = 1
      })
        return {
            sortKey: '',
            sortOrders: sortOrders,
            recipient: '',

            selectedNote: ({
                id: '',
                note: '',
                property: [],
                landlord: [],
                contact: []
            }),

            selectedContact: ({
                id: '',
                name: '',
                address: '',
                email: ''
            }),

            selectedSearch: ({
                id: '',
                name: '',
                address: '',
                phone: '',
                email: '',
                notes: []
            }),

            booking: [],
            openBooking: false,
            deleteBookingModal: false,
            checkoutBookingModal: false,
            upHere: false,
            searchId: ''
        }
    },

    computed: {
        filteredData: function () {
          var sortKey = this.sortKey
          var filterKey = this.filterKey && this.filterKey.toLowerCase()
          var order = this.sortOrders[sortKey] || 1
          var data = this.data
          if (filterKey) {
            data = data.filter(function (row) {
              return Object.keys(row).some(function (key) {
                return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        if (sortKey) {
            data = data.slice().sort(function (a, b) {
              a = a[sortKey]
              b = b[sortKey]
              return (a === b ? 0 : a > b ? 1 : -1) * order
          })
        }

        return data
    },

},

filters: {
    capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
    },

    moment: function (date) {
        return moment(date).format('MMMM Do YYYY');
    },

    dateFormat: function (date) {
        return moment(date).format('MMMM Do YYYY');
  }
},

methods: {
    sortBy: function (key) {
        this.sortKey = key
        this.sortOrders[key] = this.sortOrders[key] * -1
    },

    openNoteModal(note) {
        this.selectedNote = note
        $('#addNote').modal()
    },

    openContactModal(contact) {
        this.selectedContact = contact
        $('#viewContact').modal()
    },

    view(contact) {
      return window.location.href='/contacts/' + contact.id
    },
    
    viewProduction(contact) {
      return window.location.href='/productions/' + contact.id + '/edit'
    },
    
    openSearchesModal(search) {
        this.selectedSearch = search
        $('#viewSearch').modal()
    },

    getBooking(bookingId) {
        axios.get('/api/hotel-bookings/' + bookingId)
        .then(response => {
            this.openBooking = true
            this.booking = response.data
            $('#view-booking').modal()
            console.log(response.data)
        });
    },

    reloadSearches() {
        this.$emit('reloadsearches', {
                //
            });
    },

    searchIsStarred(search) {
        axios.post('/api/search/markAsStarred/' + search.id)
        .then(response => {
            search.starred = 1;
            this.reloadSearches()
        })
    },

    removeStarred(search) {
        axios.post('/api/search/removeStarred/' + search.id)
        .then(response => {
           this.reloadSearches()
       })
    },

    isHotelPaid(booking) {
        if (booking.hotel_paid) {
            return 'black'
        }

        return 'red';
    },

    hotelPaymentReceived(booking) {
        axios.get('/api/hotel-bookings/markHotelAsPaid/' + booking.id)
        .then(response => {
            console.log('okay')
            booking.hotel_paid = 'yes'
        });
    },

    deleteBooking(booking) {
        this.deleteBookingModal = true;
        this.booking = booking
        $('#delete-booking').modal('show')
    },

    deleteBookingConfirmed(booking) {
     axios.delete('/hotel-bookings/' + booking.id)
     .then(response => {
        $('#delete-booking').modal('hide')
        this.$emit('reloadbookings');
    });
 },

 checkoutBooking(booking) {
    this.checkoutBookingModal = true;
    this.booking = booking
    $('#booking-checkout').modal('show')
},

editBooking(booking) {
    this.editBookingModal = true;
    this.booking = booking
    $('#edit-booking').modal('show')
},

offerMadeOnSearch(search)
{
    if (search.offer_sent) {
        return true;
        console.log('this search' +  search)
    }
    return false;
}
}


};
</script> 