<style>

.document-status {
  margin-left: 150px;
}

.view-documents-button {
  float:right;
}

</style>


<template>
  <div>

   <strong>Documentation status</strong> 

   <span class="document-status">
    <span v-if="model.documentStatusComplete">
      <i class="fas fa-check-circle fa-2x" style="color:green"></i>
    </span>
    <span v-else>
      <i class="fas fa-times-circle fa-2x" style="color:red"></i>
    </span>
  </span>

  <span class="view-documents-button">
    <span v-if="! viewDocumentation">
      <button class="btn btn-sm btn-outline-primary" v-on:click="openDocumentationView()">View</button>
    </span>

    <span v-else>
      <button class="btn btn-sm btn-outline-primary" v-on:click="closeDocumentationView()">Close</button>
    </span>
  </span>

  <div v-if="viewDocumentation" class="inset-items">
    <div class="row">
      <span v-for="documentType in documenttypes">
        <div class="col-md-6">
          <ul>
            <li>{{ documentType.name }}
              <span class="list-details-checks">
                <span v-if="hasDocument(documentType)">
                  <i class="fas fa-check"></i>
                </span>

                <span v-else>
                  <i class="fas fa-times"></i>
                </span>
              </span>
            </li>
          </ul>
        </div>
      </span>
    </div>

    <p>
      <button class="btn btn-sm btn-primary" style="float:right;" v-on:click="uploadDocument()"> Upload document</button>
    </p>
  </div>

</div>
</template>

<script>

import moment from 'moment';

export default {
  props: ['model', 'documenttypes'],

  data() {
    return {
      viewDocumentation: false
    };
  },

  mounted() {
        // this.getRecentNotes();
      },

      methods: {
        getRecentNotes() {
         axios.get('/api/recentNotes/' + this.model + '/' + this.modelid)
         .then(response => {
           this.recentNotes = response.data;
         });
       },


       openDocumentationView() {
        this.viewDocumentation = true
      },

      closeDocumentationView() {
        this.viewDocumentation = false
      },

      hasDocument(document) {
        console.log(document)

        console.log(this.model)

        if (this.model.document + document.id) {
          return true
        }
        return false
      },

      uploadDocument() {
        $('#uploadDocumentModal').modal()
      },

      documentationComplete() {
        axios.get('/api/isPropertyDocumentationComplete/' + this.propertyid)
        .then(response => {
         this.documentationStatus = response.data;
       });
      }
    },

    filters: {
      moment: function (date) {
        return moment(date).format('MMMM Do YYYY');
      }
    },
  };

  </script>
