  <style>
  .search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
}

.add-btn {
    padding: 0 1.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
    margin-left: 10px;
    font-weight: 300;
}

.table th, .table td {
    padding: 0.4rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

tbody {
    line-height: 2rem;
}

</style>

<script>

import displaybookings from './display-hotel-bookings.vue'
import moment from 'moment';


export default {
    components: {displaybookings: displaybookings},

    props: ['hotels'],

    data() {
      return {
        searchQuery: '',
        bookings: [],
        booking: [],
        liveSearches: true,
        openBooking: false
    };
},

mounted() {
  this.getBookings();
},

methods: {
    getBookings() {
       axios.get('/api/hotel-bookings')
       .then(response => {
        this.bookings = response.data
        this.bookings = _.sortBy(response.data, function(o) { return new moment(o.start_date); }).reverse();
        // this.bookings = _.sortBy(response.data, function(o) { return new moment(o.start_date); });
    });


    //  if (this.liveSearches) {
    //     this.getLiveSearches()
    // } else {
    //     this.viewArchived()
    // }
},

// getBooking(bookingId) {
//   axios.get('/api/hotel-bookings/' + bookingId)
//   .then(response => {
//     this.booking = response.data
//     $('#view-booking').modal()
//     console.log(response.data)
// });
// },

getLiveSearches() {
    this.liveSearches = true
    axios.get('/api/searches')
    .then(response => {
        this.searches = response.data
    });
},

viewArchived() {
    this.liveSearches = false;
    axios.get('/api/searchesIncArchived')
    .then(response => {
        this.searches = response.data
    });
}
},

};

</script>
