  <style>
  .search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
}

.add-btn {
    padding: 0 1.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
    margin-left: 10px;
    font-weight: 300;
}




</style>

<script>

import displaysearches from './display-data.vue'

export default {
    components: {displaysearches: displaysearches},

    props: [],

    data() {
      return {
        searchQuery: '',
        bookings: [],
        liveSearches: true
    };
},

mounted() {
  this.getBookings();
},

methods: {
    getBookings() {
     axios.get('/api/hotel-bookings')
     .then(response => {
        this.bookings = response.data
        console.log(response.data)
    });
    //  if (this.liveSearches) {
    //     this.getLiveSearches()
    // } else {
    //     this.viewArchived()
    // }
},

getLiveSearches() {
    this.liveSearches = true
    axios.get('/api/searches')
    .then(response => {
        this.searches = response.data
        console.log(this.searches)
    });
},

viewArchived() {
    this.liveSearches = false;
    axios.get('/api/searchesIncArchived')
    .then(response => {
        this.searches = response.data
        console.log(this.searches)
    });
}
},

};

</script>
