<template>
    <div class="modal" id="invoice-fee" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Invoice fee</h5>
                    <button type="button" class="close" v-on:click.prevent="closeModel()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form class="form-horizontal" method="POST" :action=" '/invoiceFee' ">

                    <div class="modal-body">
                        <div class="container-fluid">

                            <input type="hidden" name="_token" :value="csrf_token">
                            <input type="hidden" name="feeId" :value="fee.id">

                      <!--   <p><strong>Reference </strong> @{{ invoice.Reference }}</p>
                        <p><strong>Xero Invoice Reference </strong> @{{ invoice.InvoiceNumber }}</p>
                        <p><strong>Invoice Status </strong> @{{ invoice.Status }}</p>

                        <strong>Items</strong>
                        <template v-for="item in lineItems">
                            <p><strong>Description </strong> @{{ item.Description }} </p>
                            <p><strong>Amount £</strong> @{{ item.UnitAmount }} </p>
                            <p><strong>Vat £</strong> @{{ item.TaxAmount }} </p>
                            <p><strong>Sub total £</strong> @{{ invoice.Total }} </p>
                        </template>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                <p><strong>Total invoice amount £ </strong>@{{ invoice.AmountDue }}</p>
                            </div>
                        </div> -->

                      <!--       <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Fee date</div>
                                </div>
                                <input id="date" type="DATE" class="form-control" name="date" :value="feeDate" :placeholder="feeDate" disabled>
                            </div>
                        </div> -->


                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Invoice date</div>
                                </div>
                                <input id="date" type="DATE" class="form-control" name="invoice_date" value="12/12/2019" placeholder="dd/mm/yyyy" required autofocus>
                            </div>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <span v-if="invoice.Status != 'DRAFT' ">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </span>
                        <button type="button" class="btn btn-secondary" v-on:click.prevent="closeModel()" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</template>

<script>

import moment from 'moment';

export default {
    props: ['fee'],

    components: {},

    data() {
        return {
            rentalPeriod: '',
            rentAmount: '',
            commissions: [],
            fees: [],
            invoice: [],
            lineItems: [],
        };
    },

    created() {
        console.log('Fee invoicing')
        this.csrf_token = document.querySelector('#token').getAttribute('value');
        // this.viewFeeInvoice()
    },

    mounted() {
        // setTimeout(function () { console.log(this.fee) }.bind(this), 300)
        console.log(this.fee)
        $('#invoice-fee').modal('show')
    },


    methods: {
    //   getScheduledInvoice(scheduledInvoiceId) {
    //     axios.get('/api/getScheduledInvoice/' + scheduledInvoiceId)
    //     .then(response => {
    //         this.scheduledInvoice = response.data.scheduledInvoice
    //         this.rentalPeriod = response.data.period
    //         this.viewRentalInvoice();
    //     })
    // },

    // viewFeeInvoice() {
    //     axios.get('/api/invoices/' + this.fee.xero_inv_id)
    //     .then(response => {
    //         this.invoice = response.data
    //         this.lineItems = response.data.LineItems
    //     })
    // },

    closeModel() {
        this.$parent.invoiceFeeModal = false
        $('#invoice-fee').modal('hide')
    }
},

filters: {
    moment: function (date) {
        return moment(date).format('MMMM Do YYYY');
    }
},

computed: {
    feeDate: function () {
        return moment(this.fee.date).format('D/M/Y');
    },
}
};

</script>
