<style>
.search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
}
</style>

<script>

import displaysearches from './display-data.vue'

export default {
    components: {displaysearches: displaysearches},

    props: ['properties'],

    data() {
        return {
            searchQuery: '',
            xeroCodes: '',
            property: '',
            selectedProperty: '',
            listXeroCodes: false
        };
    },

    mounted() {
        console.log('Properties component mounted.');
        this.getXeroCodes()
    },

    methods: {
      getXeroCodes() {
        axios.get('/api/xeroCodes')
        .then(response => {
            this.xeroCodes = response.data
            console.log(this.xeroCodes)
        });
    },

    linkPropertyToXeroCode(property) {
        this.selectedProperty = property
        this.listXeroCodes = true
        $('#linkPropertyToXero').modal()
    },
}
};

</script>
