  <style>
  .search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
}

.add-btn {
    padding: 0 1.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
    margin-left: 10px;
    font-weight: 300;
}

a {
    color: grey;
}

</style>

<script>

import displaysearches from './display-data.vue'
import moment from 'moment'

export default {
    components: {displaysearches: displaysearches},

    props: ['search'],

    data() {
      return {
        searchQuery: '',
        searches: [],
        starredSearches: [],
        liveSearches: true,
        enterPropertyForm: false
    };
},

mounted() {
  this.getSearches();
},

methods: {
    getSearches() {
        if (this.liveSearches) {
            this.getLiveSearches()
        } else {
            this.viewArchived()
        }
    },

    getLiveSearches() {
        this.liveSearches = true
        axios.get('/api/searches')
        .then(response => {
            this.searches = response.data.reverse();
        });
    },

    viewArchived() {
        this.liveSearches = false;
        axios.get('/api/searchesIncArchived')
        .then(response => {
            this.searches = response.data
        });
    },


},

filters: {
    // capitalize: function (str) {
    //     return str.charAt(0).toUpperCase() + str.slice(1)
    // },

    // moment: function (date) {
    //     return moment(date).format('MMMM Do YYYY');
    // },

    dateify: function (date) {
      return moment(date).format('YYYY-MM-DD');
  },

 
},

};

</script>
