<style>
.search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
}

</style>

<script>

import displaysearches from './display-data.vue'

export default {
    components: {displaysearches: displaysearches},

    props: ['tenants'],

    data() {
        return {
            searchQuery: '',
            selectedTenant: [],
            xeroContacts: [],
            listXeroContacts: false,
            contact: ''
        };
    },

    mounted() {
        console.log('Tenants component mounted.');
        this.getXeroContacts()
    },

    methods: {
        getXeroContacts() {
         axios.get('/api/xeroContacts')
         .then(response => {
            this.xeroContacts = response.data
        });
     },

     openTenantModal(tenant) {
        this.selectedTenant = tenant
        $('#viewTenant').modal()
    },

    linkTenantToXeroContact(tenant) {
        this.selectedTenant = tenant
        this.listXeroContacts = true
        $('#viewTenant').modal('hide')
        $('#linkToXero').modal()
    },

    closeModal() {
        $('#viewTenant').modal('hide')
        this.listXeroContacts = false
        this.selectedTenant = ''
    }
},

};

</script>
