  <style>
  .search {
    padding: 0 8.25em 0 .75em;
    height: 2.5em;
    border: solid 2px #e0e0e0;
    border-radius: 2em;
    font-size: inherit;
  }

  </style>

  <script>

  import displaynotes from './display-data.vue'
  import invoice_fee from './InvoiceFee.vue'
  import delete_fee from './DeleteFee.vue'

  export default {
    components: {invoice_fee:  invoice_fee, delete_fee},

    props: ['tenancytype'],

    data() {
      return {
        searchQuery: '',
        splitCommView: false,
        view: '',
        invoice: 1,
        // editScheduledInvoiceModal: false,
        scheduledInvoice: '',
        rentPayable: [],
        amountDue: '',
        statementData: [],
        viewStatement: false,
        scheduledInvoiceId: '',
        openLandlordBillModel: false,
        openRentalSchedule: false,
        openRentalInvoiceModal: false,
        fee: [],
        feeId: '',
        expense: [],
        invoiceFeeModal: false,
        openFeeInvoiceModal: false,
        openFeeModal: false,
        deleteFeeModal: false,
        openExpenseModal: false,
        editLandlordSchedulePeriod: false,
        scheduledAction: '',
        actionId: ''
      };
    },

    mounted() {

      if (localStorage.view) {
        this.view = localStorage.view
      }

      if (this.view == 'landlord-schedule') { // need to remove if type is split-comm
        if (this.tenancytype == 'split-comm') {
          this.normalView = true
        } else {
          this.landlordView = true
        }
      }

      if (this.view == 'split-comm') {
        this.splitCommView = true
      }

    },

    methods: {

      viewSplitCommSchedule() {
        this.resetViews()
        this.splitCommView = true
        localStorage.view = 'scheduled-invoices'
      },

      editScheduledInvoice(scheduledInvoiceId) {
        this.openRentalSchedule = true
        this.scheduledInvoiceId = scheduledInvoiceId
        $('#edit-scheduled-invoice').modal()
      },

      deleteScheduledInvoice(scheduledInvoiceId) {
        this.openRentalSchedule = true
        this.scheduledAction = 'delete'
        this.scheduledInvoiceId = scheduledInvoiceId
      },

      editLandlordSchedule(scheduledInvoiceId) {
       this.editLandlordSchedulePeriod = true
       this.scheduledInvoiceId = scheduledInvoiceId
     },

     payLandlordSchedule(scheduledInvoiceId) {
      axios.get('/api/getScheduledInvoice/' + scheduledInvoiceId)
      .then(response => {
        this.scheduledInvoice = response.data.scheduledInvoice
        this.rentPayable = response.data.rentPayable
        this.amountDue = response.data.amountDue
        $('#pay-landlord-schedule').modal()
      })
    },

    viewLandlordStatement(scheduledInvoiceId) {
      this.viewStatement = true
      this.scheduledInvoiceId = scheduledInvoiceId
    },


    openLandlordBill(scheduledInvoiceId) {
      this.scheduledInvoiceId = scheduledInvoiceId
      this.openLandlordBillModel = true
    },

    openRentalInvoice(scheduledInvoiceId) {
      this.scheduledInvoiceId = scheduledInvoiceId
      this.openRentalInvoiceModal = true
    },

    openFeeInvoice(feeId) {
      axios.get('/api/fees/' + feeId)
      .then(response => {
        this.fee = response.data
        this.scheduledInvoiceId = this.fee.scheduled_invoice_id
        this.openFeeInvoiceModal = true
      });
    },

    invoiceFee(fee) {
      this.fee = fee
      this.feeId = fee.id
      this.invoiceFeeModal = true
    },

    editFee(fee) {
      this.fee = fee
      this.feeId = fee.id
      this.openFeeModal = true
      $('#edit-fee').modal()
    },
    
    deleteFee(fee) {
      // $('#deleteFee').modal()
      this.fee = fee
      this.feeId = fee.id
      this.deleteFeeModal = true
    },

    openExpenseInvoice(expenseId) {
      axios.get('/api/expenses/' + expenseId)
      .then(response => {
        this.expense = response.data
        this.openExpenseModal = true
      });
    },

    openAction(action) {

      this.actionId = action.id

      if (action.type.includes("rental_payment")) {
        this.openRentalInvoice(action.scheduled_invoice_id)
      }

      if (action.type.includes("admin_recharge")) {
        this.openFeeInvoice(action.admin_recharge_fee.id)
      }

      if (action.type.includes("landlord_admin_fee")) {
        this.openFeeInvoice(action.landlord_admin_fee_id)
      }

      if (action.type.includes("commission_fee")) {
        this.openFeeInvoice(action.commission_fee_id)
      }

      if (action.type.includes("landlord_payment")) {
        this.openLandlordBill(action.scheduled_invoice_id)
      }

      if (action.type.includes("expense_payment")) {
        this.openExpenseInvoice(action.expense_id)
      }
    }

  }

};

</script>
