<template>
    <div>
        <strong>Notes</strong>
        <span class="right-button">
            <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#addNote"> Add note +</button>
        </span>

        <div class="inset-items">
            <div v-for="note in notes">
                <div class="row mt-1">
                    <div class="col-md-4">
                        {{ note.created_at | moment }}
                    </div>
                    <!-- <div class="col-md-8" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis"> -->
                    <div class="col-md-8">
                       {{ note.note }}
                   </div>
               </div>
           </div>

           <!-- <button v-if="! viewOlderNotes" class="btn btn-sm btn-outline-primary" v-on:click="showOlderNotes()"> Show more</button> -->
           <!-- <button v-else class="btn btn-sm btn-outline-primary" v-on:click="dontShowOlderNotes()"> Show less</button> -->

           <div v-if="viewOlderNotes">
            <div v-for="note in olderNotes">
                <div class="row">
                    <div class="col-md-4">
                        {{ note.created_at | moment }}
                    </div>
                    <div class="col-md-6">
                       {{ note.note }}
                   </div>
                   <div class="col-md-2">
                    <span style="float: right"><i class="fas fa-times"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</template>



<script>

import moment from 'moment';

export default {
    props: ['model', 'modelid', 'notes'],

    data() {
        return {
            recentNotes: [],
            olderNotes: [],
            viewOlderNotes: false
        };
    },

    mounted() {
        // this.getRecentNotes();
    },

    methods: {
        getRecentNotes() {
           axios.get('/api/recentNotes/' + this.model + '/' + this.modelid)
           .then(response => {
             this.recentNotes = response.data;
         });
       },

       showOlderNotes() {
           this.viewOlderNotes = true
           axios.get('/api/olderNotes/' + this.model + '/' + this.modelid)
           .then(response => {
             this.olderNotes = response.data;
         });
       },

       dontShowOlderNotes() {
        this.viewOlderNotes = false
    }
},

  filters: {
    moment: function (date) {
      return moment(date).format('MMMM Do YYYY');
    }
  },
};

</script>
