<template>
    <div>

        <div class="modal fade" id="viewSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ selectedsearch.name }}
                            <span v-if="selectedsearch.deleted_at" class="ml-2">(archived)</span>
                        </h5>
                        <button type="button" class="close" v-on:click="closeSearch()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form class="form-horizontal">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- <p><strong>Address</strong><span class="ml-2">{{ selectedsearch.address }}</span></p> -->
                                        <!-- <p><strong>Postcode </strong><span class="ml-2">{{ selectedsearch.postcode }}</span></p> -->
                                        <p><strong>Phone </strong><span class="ml-2">{{ selectedsearch.phone }}</span></p>
                                        <p><strong>Email </strong><span class="ml-2">{{ selectedsearch.email }}</span></p>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <p><strong>Address</strong><span class="ml-2">{{ selectedsearch.address }}</span></p> -->
                                        <!-- <p><strong>Postcode </strong><span class="ml-2">{{ selectedsearch.postcode }}</span></p> -->
                                        <p><strong>Production</strong><span class="ml-2">{{ selectedsearch.production }}</span></p>
                                        <p><strong>Production contact</strong><span class="ml-2">{{ selectedsearch.production_contact }}</span></p>
                                        <p><strong>Production contact email</strong><span class="ml-2">{{ selectedsearch.production_email }}</span></p>
                                        <p><strong>Production contact phone</strong><span class="ml-2">{{ selectedsearch.production_phone }}</span></p>
                                        <!-- <p><strong>Email </strong><span class="ml-2">{{ selectedsearch.email }}</span></p> -->
                                    </div>
                                </div>

                                <hr>

                                <p><strong>Dates</strong></p>
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ selectedsearch.start_date | moment }}
                                    </div>
                                    <div class="col-md-1">
                                        to
                                    </div>
                                    <div class="col-md-3">
                                        {{ selectedsearch.end_date | moment }}
                                    </div>
                                </div>

                                <hr>

                                <p><strong>Notes</strong></p>
                                <span v-for="note in selectedsearch.notes">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ note.created_at | moment }}
                                        </div>

                                        <div class="col-md-9">
                                            {{ note.note }}
                                        </div>
                                    </div>
                                </span>

                                <hr>

                                <p><strong>Search areas</strong></p>
                                <div class="row">
                                    <div class="col-md-8">
                                        <span v-for="area in selectedsearch.search_areas">
                                            {{ area.area }},
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" v-on:click="closeSearch()">Close</button>
                            <!-- <button v-if="! searchConvertedToTenant && ! selectedsearch.deleted_at" class="btn btn-outline-primary" v-on:click.prevent="convertToTenant(selectedsearch)">Convert to a tenant</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

import displaynotes from './display-data.vue'
import moment from 'moment';

export default {
    props: ['selectedsearch'],

    components: {},


    data() {
        return {
            searchConvertedToTenant: false,
        };
    },

    mounted() {
        console.log(this.selectedsearch)
    },

    methods: {
        convertToTenant(search) {
            console.log('add to tenant')
            axios.post('/api/search/convertToTenant/' + search.id)
            .then(response => {
             console.log(response.data);
             this.searchConvertedToTenant = true
             $('#viewSearch').modal()
         });
        },

        closeSearch() {
            console.log('close search')
            $('#viewSearch').modal('hide');
            this.searchConvertedToTenant = false;

            this.$emit('reloadsearches', {
                //
            });
        }
    },

    filters: {
        capitalize: function (str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
        },

        moment: function (date) {
            return moment(date).format('MMMM Do YYYY');
        }
    },


};

</script>
